
::-webkit-scrollbar-thumb {
    background: #1b75bc; 
    border-radius: 5px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #044577; 
  }
  ::-webkit-scrollbar {
    width:10px;
  }
  
::-webkit-scrollbar-track { 
    border-radius: 50px;
  }
body{
    height: auto;
}
.body {
    background-repeat: no-repeat;
    background-image: url('../images/background-2.jpg');
    background-size: 100% 100%;
    position: absolute;
    background-attachment: fixed; /* Fixed background */
}

.logo {
    background-size: contain;
}

.logo-img {
    margin-top: 15%;
    margin-left: 25%;
    width: 50%;
}
.button-list { 
    text-align: center;
    list-style: none; 
    padding: 0;
    margin-top: 5%;
    margin-bottom: 6%;
}

.button-list li {
    display: inline-block; 
    margin-right: 10px;
}

.button-list button {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1b75bc;
    opacity: 0.8;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    height: 100px;
    width: 300px;
}

.button-list button:hover {
    background-color: #044577; 
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* Style for the popup content */
.popup-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    margin-top: 200px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Close button for the popup */
.close-btn {
    position: relative;
    top: 0;
    left: 500px;
    cursor: pointer;
}

/* Style for the popup images */
.popup-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Style for each image in the popup */
.popup-images img {
    max-width: 100%;
    max-height: 200px;

}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    overflow: hidden;
    border-style: solid;
    border-radius: 8px;
}

.grid-item img {
    width: 100%;
    height: auto;
}
.footer {
    background-color: black;
    border-style: solid;
    border-color: black;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-info,
.social-icons,
.address {
    display: flex;
    align-items: center;
}

.social-icons {
    flex-grow: 1; /* Take the available space in the center */
    justify-content: center;
    font-size:30px;
}

.address {
    text-align: right;
}

.offer {
    margin-bottom: 6%;  
    text-align: center;
}
.button-offer {
    
    width: 400px;
    height: auto;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    padding: 30px;
    background-color: #1b75bc;
    opacity: 0.8;
    border-style: solid;
    border-color: white;
    
}
.button-offer:hover {
    background: #044577;
    border-color: black;
}
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: auto;
}


.popup-content2 {
    margin-top: 8%;
    margin-left: 25%;
    text-align: center;
    width: 50%;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input ,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1b75bc;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1b75bc;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Add a semi-transparent overlay behind the popup */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.logo-popup{
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
}
.button-grid {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 100px auto;
    max-width: 700px;
    /* Adjust margin as needed */
}

.button {
    width: 100%; 
    opacity:0.8;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
}

/* Optional: Add hover effect */
.button:hover {
    background-color: #2980b9;
}
.fancy {
    --b: 6px;
    /* control the border thickness */
    --w: 80px;
    /* control the width of the line*/
    --g: 15px;
    /* control the gap */
    --c: #2980b9;

    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background:
        conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image:
        linear-gradient(#0000 calc(50% - var(--b)/2),
            var(--c) 0 calc(50% + var(--b)/2),
            #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
}
h1{
    margin-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.8;
}
.social-media-buttons {
    text-align: center;
    margin-top: 10px; 
}

.social-button {
    font-size: 30px;
    opacity: .8;
    margin-right: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 80px;
    border-radius: 50px;
    width: 80px;   
    background-color: #3498db;
    padding: 5px 10px; 
}
@media (max-width: 991.98px) {
    .body{
        height: 200%;
        background-image: url('../images/mobile.png');
    }
    .logo-img {
        margin-top: 70%;
        width: 50%;
        margin-bottom: 40%;
    }
    .button-list{
        margin-top: 5%;
    }
    .button-list button {
        font-size: 30px;
        padding: 8px 15px;
        margin-top: 10%;
        height: 80px;
        width: 800px;
        border-radius: 20px;
    }
    
    .button {
        height: 120px;
        border-radius:20px;
        font-size:30px;
    }
    .close-btn {
        position: relative;
        top: 10;
        left: 48%;
        cursor: pointer;
    }
    .fancy {
        --w: 140px;
        line-height: 2.4em;
        width: 200px;
        text-align: center;
    }
    .footer {
        bottom: 10;
        left: 0;
        font-size: large;
    }
}

